<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./css/styles.css">
    <title>Formulario</title>
</head>
<body>
    
        <%  if (typeof errores !== "undefined" && errores.length) { %>

        <div style="color:red;">

            <p>Por favor, corrige estos errores:</p>
            <ul>
                <%  
                errores.forEach (e => { 
                %>
                    <li><%= e %></li>
                <% }) %>
            </ul>

        </div>

        <% } %>

    <form action="/form" method="POST">
            <h2>Contacto</h2>
            <label><strong>Nombre:</strong>
                <input type="text" name="name" value="<%= name || '' %>" required>
            </label>
        <p></p>
            <label><strong>Email:</strong>
                <input type="email" name="email" value="<%= email || '' %>" required>
            </label>
        <p></p>
            <label><strong>¿Qué desea?</strong>
                <select name="options" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="consulta" <%= options === 'consulta' ? 'selected' : '' %>>Consulta</option>
                    <option value="sugerencia" <%= options === 'sugerencia' ? 'selected' : '' %>>Sugerencia</option>
                    <option value="reclamo" <%= options === 'reclamo' ? 'selected' : '' %>>Reclamo</option>
                </select>
            </label>
        <p> </p>
            <fieldset class="checkboxFormulario">
                <label><input type="checkbox" name="type" value="bolso"
                    <%= (options ||[]).includes('bolso') ? 'checked' : '' %>> Bolso</label>
                <label><input type="checkbox" name="type" value="choker"
                    <%= (options ||[]).includes('choker') ? 'checked' : '' %>> Choker</label>
                <label><input type="checkbox" name="type" value="pendientes"
                    <%= (options ||[]).includes('pendientes') ? 'checked' : '' %>> Pendientes</label>
                <label><input type="checkbox" name="type" value="otros"
                    <%= (options ||[]).includes('otros') ? 'checked' : '' %>> Otros</label>
            </fieldset>
        <p></p>
            <label><strong>Mensaje:</strong> <br><br>
                <textarea name="message" required><%= message || '' %></textarea>
            </label>
        <p></p>
            <button class="btnFormulario" type="submit">Enviar</button>
    </form>

        <p class="volver"><a href="/">Volver al inicio</a> </p>

</body>
</html>